/*body{
  background-image: url(https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/13516248_858419050957159_4468184329787872243_n.jpg?_nc_cat=100&_nc_ht=scontent-arn2-1.xx&oh=8e54108ba4f7f12be38af58d9825ce88&oe=5CA99813);
  background-position: Start;

  background-size max-width: 960px;
  background-size width: 960px;
  background-size height: 960px;*/
}
body{
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
}

header{
  display: flex;
  justify-content: center;
  background-color: grey;
  margin: 5px;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}



h2{
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: row;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: grey;
  padding-left: 10px;
  padding-right: 10px;
  left: -10px;
	z-index: 1;

}

.dropdown:hover .dropdown-content {
	display: block;
}

.link{
  background-color: lightgray;

}

.Lada-Mitten{
  display: flex;
  background-color:  lightgray;
  padding: 10px;
  margin: 5px;
  flex: 1 1 80%;
}

.Låda{
  display: flex;
  background-color: grey;
  padding: 10px;
  margin: 5px;
  flex: 1 1 10%;
  justify-content: center;

}
