h1 {
  width: 175px;
  height: 40px;
  background-color: pink;
  font-family: 'Black Han Sans', sans-serif;
}

p {
  width: 1660px;
  height: 210px;
  background-color: pink;
  font-size: x-large;
  position: center;
  font-family: 'Black Han Sans', sans-serif;
}

body {
background-image: url(https://i.pinimg.com/originals/f3/8c/4a/f38c4a36c9a6b0e67bd1f51c60f9fab9.gif);
width: 1600px;
height: 900px;
}
