body{
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
}


header{
  display: flex;
  background-color: grey;
  margin: 5px;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}


span{
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
}

header h2{
  display: flex;
  position: relative;
  left: 44.5%;
  transform:translate(-50%);
}


.dropdown{
  background-color: white;
  position: relative;
  display: flex;
  width: 5%;
  justify-content: center;
  border-radius: 15px;
  border-style: solid;
}


.dropdown-content{
	display: none;
	position: absolute;
	background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  left: -14%;
	z-index: 1;
  width: 120%;
  top: -18%;
  border-radius: 15px;
  border-style: solid;
}


.dropdown:hover .dropdown-content {
	display: block;
}


.link{
  background-color: lightgray;
}


.container{
  display: flex;
  flex-direction: row;
}


.Lada-Mitten{
  display: flex;
  background-color:  lightgray;
  padding: 20px;
  margin: 5px;
  flex: 1 1 80%;
  flex-direction: column;
}

table{
  justify-content:center;
}

.Lada{
  display: flex;
  background-color: grey;
  padding: 10px;
  margin: 5px;
  flex: 1 1 10%;
  flex-direction: column;
}

img{
  width: 100%;
}

footer{
  display: flex;
  background-color: grey;
  margin: 5px;
  padding: 25px;
  justify-content: center;
  width: 96.35%;
}
footer h2{
  display: flex;
}



@media only screen and (max-width: 800px){
  .container {
    flex-direction: column;
       }
    }


/*transform: translateX(0)*/
